/*-- scss:defaults --*/

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

// colors
$sunset-orange: #FA5F55;
$cream: #FBF9F3;
$white: #FFF;

$body-bg: $cream;
$navbar-bg: $sunset-orange;
$navbar-hl: $cream;
