/* css styles */

// colors
$sunset-orange: #FA5F55
$cream: #FBF9F3
$white: #FFF;

// Base document colors
$navbar-bg: $sunset-orange;
$navbar-hl: $cream;
$body-bg: $cream;
$link-color: $sunset-orange; 

/*-- scss:rules --*/

h1, h2 {
  letter-spacing: 5px;
  font-weight: 800; // Google fonts tells you which weights your chosen font family allows for!
  
.navbar-brand img { 
  max-height: 40px;
  width: auto;
}